.main{
    background-color: #0f0f0f;
    height: 100vh;
    color: white;
    .main-inner{
        padding: 20px;
        .table{
            display: flex;
            flex-direction: column;
            gap:20px;
            .header{
                display: flex;
                justify-content: space-between;
                gap: 100px;
                color: grey;
                border-bottom: grey 1px solid;
                .second-col{
                    flex:1;
                }
            }
            .row{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 100px;
                color: grey;
                border-bottom: grey 1px solid;
                padding-bottom: 20px;
                
                .icon:hover{
                    color: lightblue;
                    cursor: pointer;
                }
                
                input{
                    width: 100px;
                    background-color: #0f0f0f;
                    border-radius: 4px;
                    box-shadow: none;
                    outline: grey 1px solid;
                    border: none;
                }
                .second-col{
                    flex:1;
                    width:300px;
                }
                
            }
        }
    }
}