.main{
    background-color: #0f0f0f;
    width: 100%;
    height: 100vh;
    color: white;
    .main-inner{
        padding: 20px;
        .table{
            display: flex;
            flex-direction: column;
            gap:20px;
            .header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 100px;
                color: grey;
                border-bottom: grey 1px solid;
                .second-col{
                    flex:1;
                }
            }
            .children::after{
                position: absolute;
                content: '';
                width: 20px;
                height: 45px;
                top: 225px;
                left: 300px;
                z-index: 1;
                border-left: white 2px solid;
            }
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 100px;
                color: grey;
                border-bottom: grey 1px solid;
                padding-bottom: 20px;
                align-items: center;
                color:white;
                .icon{
                    width: 57px;
                    z-index: 5;
                }
                .icon:hover{
                    color: lightblue;
                    cursor: pointer;
                }
                
                input{
                    width: 110px;
                    background-color: #0f0f0f;
                    border-radius: 4px;
                    box-shadow: none;
                    outline: grey 1px solid;
                    border: none;
                    color: white;
                }
                .second-col{
                    flex:1;
                }
                
            }
        }
    }
}